{% extends 'template/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock %}
{% block rows %}

{% endblock %}

{% block javascript %}
<script type="application/javascript">
    $(function (){
        $('#data').DataTable({
                responsive: true,
                autoWidth: false
            });
        });
</script>
{% endblock %}