{% extends 'template/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static '/user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 15%;">Nombre y apellido</th>
    <th scope="col" style="width: 10%;">CI</th>
    <th scope="col" style="width: 15%;">Usuario</th>
    <th scope="col" style="width: 15%;">fecha de registro</th>
    <th scope="col" style="width: 15%;">Tipo de usuario</th>
    <th scope="col" style="width: 15%;">Opciones</th>
  </tr>
{% endblock %}
{% block rows %}


{% endblock %}

{% block javascript %}

{% endblock %}