{% extends 'template/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static '/client/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">N. Cedula</th>
    <th scope="col">Fecha nacimiento</th>
    <th scope="col">Direccion</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock %}
{% block rows %}


{% endblock %}

{% block javascript %}

  <!-- Modal -->
  <div class="modal fade" id="myModalClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" action=".">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="email">{{ field.label }}:</label>
                    {{ field}}
                </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
    </form>

  </div>
{% endblock %}