{% extends 'template/list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">N. Cedula</th>
    <th scope="col">Fecha nacimiento</th>
    <th scope="col">Direccion</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock %}
{% block rows %}
{% for c in object_list %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.names }}</td>
    <td>{{ c.surnames }}</td>
    <td>{{ c.ci }}</td>
    <td>{{ c.Birthday }}</td>
    <td>{{ c.addres }}</td>
    <td>
        <a href="{% url 'erp:client_update' c.id %}" class="btn btn-warning btn-xs">
            <i class="far fa-edit"></i>
        </a>
        <a href="{% url 'erp:client_delete' c.id %}" type="button" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}