{% extends 'template/body.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}"
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="email">{{ field.label }}:</label>
                    {{ field}}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
            </div>
        </div>
    </form>
    <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}


            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = $(this).serializeArray();
                $.ajax({
                    url: '{% url 'erp:category_create' %}',
                    type: 'POST',
                    date: parameters,
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    if(!data.hasOwnProperty('error')){
                        location.href = '{{ list_url }}'
                    }
                    message_error(data.error)
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });

            // alert_jqueryconfirm();
    </script>
{% endblock %}