{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'erp:dashboard' %}" class="brand-link">
        <img src="{% static 'img/business_icon.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SGV</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username  }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">MODULOS DE PRODUCTOS</li>
                <li class="nav-item">
                    <a href="{% url 'erp:product_list' %}" class="nav-link outline: none;">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:materials_list' %}" class="nav-link outline: none;">
                        <i class="fas fa-store-alt"></i>
                        <p>
                            Materiales
                        </p>
                    </a>
                </li>
                <li class="nav-header">MODULOS DE COMPRA</li>
                <li class="nav-item">
                    <a href="{% url 'erp:buy_create' %}" class="nav-link outline: none;">
                        <i class="nav-icon fas fa-cart-arrow-down"></i>
                        <p>
                            Registrar compra
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:buy_list' %}" class="nav-link outline: none;">
                        <i class="far fa-file-alt"> </i>
                        <p>
                            Detalle de compras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:supplier_list' %}" class="nav-link outline: none;">
                        <i class="fas fa-shipping-fast"></i>
                        <p>
                            Proveedor
                        </p>
                    </a>
                </li>
                <li class="nav-header">MODULOS DE VENTA</li>
                <li class="nav-item">
                    <a href="{% url 'erp:sale_create' %}" class="nav-link outline: none;">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Registrar venta
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:sale_list' %}" class="nav-link outline: none;">
                        <i class="far fa-file-alt"> </i>
                        <p>
                            Detalle de ventas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:client_list' %}" class="nav-link outline: none;">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>
                <li class="nav-header">MODULO DE FONDO</li>
                <li class="nav-item">
                    <a href="{% url 'erp:fund_list' %}" class="nav-link outline: none;">
                        <i class="fas fa-wallet"></i>
                        <p>
                            Fondos
                        </p>
                    </a>
                </li>
                <li class="nav-header">MODULO DE PRODUCCION</li>
                <li class="nav-item">
                    <a href="{% url 'erp:production_create' %}" class="nav-link outline: none;">
                        <i class="fas fa-cookie-bite"></i>
                        <p>
                            Registrar produccion
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:production_list' %}" class="nav-link outline: none;">
                        <i class="far fa-file-alt"> </i>
                        <p>
                            Detalle de produccion
                        </p>
                    </a>
                </li>
                <li class="nav-header">MANTENIMIENTOS</li>
                <li class="nav-item">
                    <a href="{% url 'erp:auditoria_list' %}" class="nav-link outline: none;">
                        <i class="fas fa-clipboard-list"></i>
                        <p>
                            Auditoria
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:user_list' %}" class="nav-link outline: none;">
                        <i class="fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
                <li class="nav-header">REPORTES</li>
                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte ventas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'buy_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte compras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'production_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte produccion
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'client_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte clientes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'fund_report' %}" class="nav-link outline: none;">
                        <i class="fas fa-chart-bar"></i>
                        <p>
                            Reporte fondos
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>