{% extends 'template/list.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
    <script src="{% static '/fund/js/list.js' %}"></script>
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-6">
                <div class="small-box bg-info">
                        <div class="inner">
                            <table class="table table-bordered table-hover" id="tblType">
                                <thead>
                                    <tr>
                                        <th>Tipo de fondo</th>
                                        <th>Saldo actual</th>
                                    </tr>
                                </thead>

                                </tbody>
                            </table>
                        </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <section class="col-lg-12 connectedSortable ui-sortable">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-search"></i>
                            {{ title }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table" id="tblfund">
                            <thead>
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Importe</th>
                                    <th scope="col">Tipo de movimiento</th>
                                    <th scope="col">Tipo de fondo</th>
                                    <th scope="col">Metodo de cobro o pago</th>
                                    <th scope="col">Numero de tarjeta o cheque</th>
                                    <th scope="col">Titular de tarjeta o cheque</th>
                                    <th scope="col">Fecha de creación</th>
                                    <th scope="col">Opciones</th>
                                  </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        {% block buttons_list %}
                        <a class="btn btn-primary btn-flat btnAper">
                            <i class="fas fa-cash-register"></i> Apertura de caja
                        </a>
                        <a class="btn btn-danger btn-flat btnwithdraw">
                            <i class="fas fa-hand-holding-usd"></i> Retirar dinero
                        </a>
                        <a class="btn btn-success btn-flat addCargar">
                            <i class="fas fa-hand-holding-usd"></i> Cargar dinero
                        </a>
                        <a class="btn btn-secondary btn-flat btnCierre">
                            <i class="fas fa-cash-register"></i> Cierre de caja
                        </a>
                        <a href="{{ list_url }}" class="btn btn-success btn-flat">
                            <i class="fas fa-sync"></i> Actualizar
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% endblock %}
{% block javascript %}
<!-- Modal -->


<div class="modal fade" id="myModalwithdraw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<form id="formwithdraw" method="post" action=".">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">
                   <b><i class="fas fa-search"></i> <span></span></b>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <div class="container-fluid">
                   <input name="action" type="hidden" value="addwithdraw">
                   <input name="id" id="id" type="hidden" value="0">
                   {% for field in formwithdraw.visible_fields %}
                       <div class="form-group">
                           <label for="email">{{ field.label }}:</label>
                           {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
           </div>
       </div>
   </div>
</form>
</div>

<div class="modal fade" id="myModalcierre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<form id="frmCaja" method="post" action=".">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">
                   <b><i class="fas fa-search"></i> <span></span></b>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <div class="container-fluid">
                   <input name="action" type="hidden" value="addcierre">
                   <input name="id" id="id" type="hidden" value="0">
                   {% for field in frmCaja.visible_fields %}
                       <div class="form-group">
                           <label for="email">{{ field.label }}:</label>
                           {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
           </div>
       </div>
   </div>
</form>
</div>

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<form id="formfund" method="post" action=".">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">
                   <b><i class="fas fa-search"></i> <span></span></b>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <div class="container-fluid">
                   <input name="action" type="hidden" value="edit">
                   <input name="id" id="id" type="hidden" value="0">
                   {% for field in formfund.visible_fields %}
                       <div class="form-group">
                           <label for="email">{{ field.label }}:</label>
                           {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
           </div>
       </div>
   </div>
</form>
</div>
{% endblock %}
