{% extends 'template/list.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}

<script src="{% static '/product/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre</th>
    <th scope="col">Categoria</th>
    <th scope="col">Precio</th>
    <th scope="col">Stock</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock %}
{% block rows %}

{% endblock %}

{% block buttons_list %}
<a class="btn btn-primary btn-flat btnAdd">
    <i class="fas fa-plus"></i>Nuevo registro
</a>
<a class="btn btn-warning btn-flat btnRecycle">
    <i class="fas fa-recycle"></i>Reciclar
</a>
<a class="btn btn-secondary btn-flat btnRepos">
    <i class="fas fa-redo-alt"></i>Reponer
</a>
<a href="{% url 'erp:category_list' %}" class="btn btn-primary btn-flat">
    <i class="fas fa-box"></i> Categorias
</a>
<a href="{{ list_url }}" class="btn btn-success btn-flat">
    <i class="fas fa-sync"></i> Actualizar
</a>
{% endblock %}
{% block javascript %}
<!-- MODAL PRODUCT -->
<div class="modal fade" id="myModalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<form id="formrproduct" method="post" action=".">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">
                   <b><i class="fas fa-search"></i> <span></span></b>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <div class="container-fluid">
                   <input name="action" type="hidden" value="add">
                   <input name="id" id="id" type="hidden" value="0">
                   {% for field in form.visible_fields %}
                       <div class="form-group">
                           <label for="email">{{ field.label }}:</label>
                           {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
           </div>
       </div>
   </div>
</form>
</div>
<!-- MODAL REPONER Y RETIRAR -->
<div class="modal fade" id="myModalRecycle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<form id="formrecycle" method="post" action=".">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">
                   <b><i class="fas fa-search"></i> <span></span></b>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <div class="container-fluid">
                   <input name="action" type="hidden" value="recycle">
                   <input name="id" id="id" type="hidden" value="0">
                   {% for field in form_re.visible_fields %}
                       <div class="form-group">
                           <label for="email">{{ field.label }}:</label>
                           {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
           </div>
       </div>
   </div>
</form>
</div>

{% endblock %}